.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 15px 30px;
  z-index: 10;
}

.nav-link {
  color: white;
  margin-right: 20px; 
  text-decoration: none;
  font-weight: bold;
  opacity: 0.8;
}
